body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

h1, h2 {
    margin: 0;
}

.collage-item {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 20%;
}

.result-row {
    padding: 1rem;
    margin: 1rem 0;
    border-style: solid;
    border-radius: 3px;
}

.recipe-row .cook-time {
    padding-left: 2rem;
}

.background-image {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}